{% extends 'FrontBundle::base.html.twig' %}
{% block title %}
    {{ parent() }} - Résultats recherche    
{% endblock %}

{% block header %}
    {{ parent() }} 
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}
{% endblock %}

{% block body %}
    <h2>{{'Résultats recherche :'}}</h2>
    {% for post in posts %}
        <div class="img">
            <a href="{{ path('view', {'id' : post.id}) }}"> <img src="{{ asset('uploads/annonces/' ~ post.photo) }}" /></a>
        </div>
        <div class="detail">
            <h3><a href="{{ path('view', {'id' : post.id}) }}">{{ post.type|capitalize }} - {{ post.titre|upper }}</a></h3>             
            <p>Marque : {{ post.marque|upper }}</p>
            <p class="content">{{ post.resume|capitalize }}</p>
            <p class="details">Le <span>{{ post.datePublication|date('d/m/Y') ~ ' à ' ~ post.ville|upper }}</span> </p>
            <h5>Catégorie > <a href="{{ path('categorie',{'id' : post.categorie.id}) }}">{{ post.categorie.libelle|upper }}</a></h5>
        </div>        
        <hr/>
    {% endfor %}
{% endblock %}
{% block sidebar %}
    {% include ('FrontBundle:Default:sidebar.html.twig')  %}
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
