{% extends 'FrontBundle::base.html.twig' %}

{% block head %}
    {{ parent() }} - Confirmation publication
{% endblock %}

{% block header %}
    {{ parent() }} 
{#    {{ form_start(searchForm) }}
    {{ form_widget(searchForm) }}
    {{ form_end(searchForm) }}#}
{% endblock %}

{% block body %}
    
    <h3>Bravo, vous avez reussi!</h3>
    <a href="{{ path('index') }}"> Retour vers l'accueil</a>  
    
{% endblock %}
{% block sidebar %}
     {{ parent() }} 
{#    {% include ('FrontBundle:Default:sidebar.html.twig')  %}#}
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
