{% extends 'FrontBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ post.getTitre() }}
{% endblock %}

{% block body %}
    <h2>{{ post.getTitre()|upper }}</h2>
    <div class="post">
        <h3>{{ post.titre|upper }}</h3>
	<p class="content">{{ post.description }}</p>
	<p>Marque : {{post.marque}}</p>
	
	<p class="details">
	    Le <span>{{ post.datePublication|date('d/m/Y') ~ ' à ' ~ post.ville|upper }}</span>
	</p>
    </div>
    <hr />
{% endblock %}
