{% extends 'FrontBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ posts.getTitre() }}
{% endblock %}

{% block body %}
    <div class="post">
        <h3>{{ posts.titre|upper }}</h3>
	<p class="content">{{ posts.description }}</p>
	<p>Marque : {{posts.marque}}</p>
	
	<p class="details">
	    Le <span>{{ posts.datePublication|date('d/m/Y') ~ ' à ' ~ posts.ville|upper }}</span>
	</p>
    </div>
    <hr />
{% endblock %}
{% block sidebar %}
    {% include ('FrontBundle:Default:sidebar.html.twig')  %}
{% endblock %}
