{% extends 'FrontBundle::base.html.twig' %}

{% block title %}
    {{ parent() }} - {{ posts.getTitre() }}
{% endblock %}
{% block header %}
    {{ parent() }} 
    <div class="container">    
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm.motcle,{ 'attr': {'placeholder': 'Rechercher un article, une catégorie etc...'} }) }}
    {{ form_end(searchForm) }}
    </div> 
{% endblock %}
{% block body %}
    <div class="post">
        <h4>Catégorie > <a href="{{ path('categorie',{'id' : posts.categorie.id}) }}">{{ posts.categorie.libelle|upper }}</a></h4>
        <h3>{{ posts.titre|upper }}</h3>
	<p class="content">{{ posts.description }}</p>
	<p>Marque : {{posts.marque}}</p>
	
	<p class="details">
	    Le <span>{{ posts.datePublication|date('d/m/Y') ~ ' à ' ~ posts.ville|upper }}</span>
	</p>

        <img src="{{ asset('uploads/annonces/' ~ posts.photo) }}" />
        
    </div>
    <hr />
{% endblock %}
{% block sidebar %}
    {% include ('FrontBundle:Default:sidebar.html.twig')  %}
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
