{% extends 'FrontBundle::base.html.twig' %}
{% block title %}
    {{ parent() }} - Accueil
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block header %}
    {{ parent() }}       
    <div class="container">    
        {{ form_start(searchForm) }}
        {{ form_widget(searchForm.motcle,{ 'attr': {'placeholder': 'Rechercher un article, une catégorie etc...'} }) }}
        {{ form_end(searchForm) }}
    </div> 
{% endblock %}

{% block body %}
    <h2>{{'Dernières annonces :'}}</h2>
    {% for post in posts %}
        <div class="post">
            <h3><a href="{{ path('view', {'id' : post.id}) }}">{{ post.titre|upper }}</a></h3>            
            <p>Marque : {{ post.marque|upper }}</p>
            <p class="content">{{ post.resume|capitalize }}</p>
            <p class="details">Le <span>{{ post.datePublication|date('d/m/Y') ~ ' à ' ~ post.ville|upper }}</span> </p>
            <h5>Catégorie > <a href="{{ path('categorie',{'id' : post.categorie.id}) }}">{{ post.categorie.libelle|upper }}</a></h5>
            <img src="{{ asset('uploads/annonces/' ~ post.photo) }}" />
            <hr/>
        </div>
    {% endfor %}
{% endblock %}
{% block sidebar %}
    {% include ('FrontBundle:Default:sidebar.html.twig')  %}
{% endblock %}
{% block footer %}{{ parent() }}{% endblock %}
