{% extends 'FrontBundle::base.html.twig' %}


{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block body %}
    <h2>Dernières annonces :</h2>
        {% for post in posts %}
        <div class="post">
            <h3><a href="{{ path('index', {'id' : post.id}) }}">{{ post.titre|upper }}</a></h3>
            <p>Marque : {{ post.marque|upper }}</p>
            <p class="content">{{ post.resume|capitalize }}</p>
            <p class="details">Le <span>{{ post.datePublication|date('d/m/Y') ~ ' à ' ~ post.ville|upper }}</span> </p>
            <hr/>
        </div>
        {% endfor %}
{% endblock %}
{% block sidebar %}
    {% include ('FrontBundle:Default:sidebar.html.twig')  %}
{% endblock %}
