<html>
    <head>
        <title>{% block title %}Brico Échange{% endblock %}</title>
{#        <link href="{{ asset('css/general.css') }}" rel="stylesheet" type="text/css" />#}
        <link href="{{ asset('css/knacss.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="header">
            {% block header %}
            <p class="logo"><a href="{{ path('index') }}"><img src="{{ asset('img/logo.png') }}" alt="logo" title="Accueil" /></a></p>
            <h1>BRICO ÉCHANGE</h1>
             <div class="clear"></div>
               <a href="{{ path('login') }}">Inscription / Connexion</a> 
             <div class="clear"></div>
            <hr />
        </div>
            {% endblock %}
        <div class="flex-container">
            {% block sidebar %}
            <aside class="mod w20 pas aside">
                <nav id="navigation" role="navigation">
                    <ul class="pam">
                        <li><a href="{{ path('index') }}">Accueil</a></li>
                        <li><a href="{{ path('categorie') }}">Catégories</a></li>
                        <li><a href="{{ path('deposerAnnonce') }}">Déposer annonce</a></li>
                    </ul>
                </nav>
            </aside>
            {% endblock %}
        
            <main id="main" role="main" class="flex-item-fluid pas">
                {% block body %}{% endblock %}
            </main>
        </div>
        <div class="footer">
            {% block footer %}© 2018 Brico-Échange - Tous droits réservés{% endblock %}
        </div>
    </body>
</html>